* {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #333;
}


.inner {
  width: 1200px;
  margin: 0 auto;
}

.active {
  padding-top: 80px;
}

nav {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  background-color: #fff;
  height: 80px;
  line-height: 80px;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
}

nav>ul {
  margin: 0 auto;
  width: fit-content;
  height: 100%;
  display: flex;
}

nav>ul>li {
  cursor: pointer;
  padding: 0 20px;
  border-bottom: 4px solid transparent;
  box-sizing: border-box;
}

nav>ul>li.ac {
  border-bottom-color: #f60;
}

.active .banner {
  text-align: center;
  width: 100%;
  height: 400px;
  color: #fff;
  background: url("https://www.bagevent.com/resources/img/website/template_single_n/banner01.jpg") no-repeat 0 0;
}

.active .banner h2 {
  padding-top: 100px;
  padding-bottom: 20px;
  font: 36px / 40px "黑体";
}

.active .banner p {
  font: 20px / 30px "黑体";
}

.active .content h2 {
  padding-top: 50px;
  text-align: center;
  font: 36px / 60px "黑体";
  color: #666;
}

.active .content p {
  padding-bottom: 30px;
  text-indent: 2em;
  font: 16px / 30px "微软雅黑";
}