.index .about {
  display: flex;
  padding-top: 40px;
}

.index .about img {
  width: 400px;
  min-width: 400px;
  height: 200px;
  margin: 150px -20px 0 0;
  position: relative;
  z-index: 10;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.3);
}

.index .about .content {
  background-color: #ededed;
  padding: 20px 20px 20px 50px;
}

.index .about .content p {
  font: 16px / 24px "微软雅黑";
}

.index .about .content h6 {
  font: 14px / 20px "微软雅黑";
  padding-left: 20px;
}

.index .about .content h3 {
  display: none;
}

.index .about .content a {
  width: auto;
  height: auto;
  color: #3399ea;
}

.index .sponsor {
  padding-top: 40px;
}

.index .sponsor .avatar {
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  padding-bottom: 20px;
}

.index .sponsor .avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  float: left;
  margin-right: 20px;
}

.index .sponsor .avatar em {
  margin-left: 20px;
  display: inline-block;
  padding: 0 15px;
  height: 30px;
  line-height: 30px;
  border-radius: 6px;
  background-color: #272636;
  color: #fff;
  position: relative;
}

.index .sponsor .avatar em::before {
  content: "";
  position: absolute;
  left: -12px;
  top: 50%;
  transform: translateY(-50%);
  border: 6px solid transparent;
  border-right-color: #272636;
}

.index .sponsor p {
  padding-bottom: 10px;
  font: 16px /20px "微软雅黑";
  text-indent: 2em;
}

.index .organization h4 {
  text-align: center;
  padding: 30px 0 20px;
  font-size: 24px;
}

.index .organization p {
  line-height: 36px;
  color: #333;
}

.index .organization p span {
  color: #000;
  font-weight: bolder;
}

.index .contributor {
  padding-top: 40px;
  text-align: center;
}

.index .contributor h4 {
  font-size: 24px;
  padding-bottom: 30px;
}

.index .contributor a {
  color: #3399ea;
}

.index footer {
  margin-top: 100px;
  height: 40px;
  line-height: 40px;
  background-color: #272636;
  color: #fff;
  text-align: center;
}

.index footer a {
  width: auto;
  height: auto;
  color: #fff;
  text-decoration: underline;
}

@media screen and (max-width: 750px) {
  .index .about {
    display: flex;
    padding-top: 10px;
  }

  .index .about img {
    display: none;
  }

  .index .about .content {
    padding: 10px;
  }

  .index .about .content h3 {
    display: block;
    text-align: center;
    font: 20px / 30px "微软雅黑";
    padding-bottom: 10px;
  }

  .index .about .content p {
    font: 14px / 18px "微软雅黑";
  }

  .index .sponsor {
    padding: 20px 15px 0;
  }

  .index .organization {
    padding: 20px 15px 0;
  }
}
